*.o
*.elf
*.hex
*~
*.bin
*.d
*.dll
*.lib
*.exe
*.lst
*.o
*.obj
*.px4
*.pyc
*.tlog
*.tlog.raw
*.zip
.*.swo
.*.swp
.built
.context
.depend
.directory
.DS_Store
.metadata/
.settings/
.vagrant
.hg/
/tmp/*
APM/Tools/ArdupilotMegaPlanner/3DRRadio/bin
APM/Tools/ArdupilotMegaPlanner/3DRRadio/obj
APM/Tools/ArdupilotMegaPlanner/APMPlannerXplanes/APMPlannerXplanes/Debug
APM/Tools/ArdupilotMegaPlanner/bin
APM/Tools/ArdupilotMegaPlanner/bin/APM Planner.app
APM/Tools/ArdupilotMegaPlanner/bin/Debug
APM/Tools/ArdupilotMegaPlanner/bin/Release/gmapcache
APM/Tools/ArdupilotMegaPlanner/bin/Release/logs/
APM/Tools/ArdupilotMegaPlanner/CustomImages
APM/Tools/ArdupilotMegaPlanner/Msi/upload.bat
APM/Tools/ArdupilotMegaPlanner/obj
APM/Tools/ArdupilotMegaPlanner/resedit/bin
APM/Tools/ArdupilotMegaPlanner/resedit/obj
APM/Tools/ArdupilotMegaPlanner/Updater/bin
APM/Tools/ArdupilotMegaPlanner/Updater/obj
APM/Tools/ArdupilotMegaPlanner/wix/bin
APM/Tools/ArdupilotMegaPlanner/wix/obj
APM/Tools/autotest/ch7_mission.txt
APM/ArduPlane/*
APM/ArduCopter/*
APM/git
cmake_install.cmake
CMakeCache.txt
CMakeFiles
config.mk
dataflash.bin
eeprom.bin
Make.dep
mav.log
mav.log.raw
module.mk
serialsent.raw
status.txt
tags
